{% if page.mathjax %}
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
{% endif %}

{% if page.seq-diagram %}
  <script src="{{ site.baseurl }}/assets/js/webfont.js"></script>
  <script src="{{ site.baseurl }}/assets/js/snap.svg-min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/underscore-min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/sequence-diagram-min.js"></script>
{% endif %}

{% if page.mermaid %}
  <script src="/assets/js/mermaid.min.js"></script>
{% endif %}

{% if page.post-toc != false %}
  <script src="/assets/js/post-toc-trigger.js"></script>
{% endif %}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
<!-- <script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/init.js"></script> -->
