{%- assign lang = page.lang | default: post.lang | default: site.lang | default: "en" -%}

<title>{%- if page.title -%}{{ page.title }}{%- if site.title -%}{{ " - " }}{%- endif -%}{%- endif -%}{{ site.title.[lang] | default: site.title.en | default: site.title }}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta content="{{ site.title.[lang] | default: site.title.en | default: site.title }}" property="og:site_name">
<meta name="twitter:card" content="summary">

<meta content="{{ page.title | default: site.title.[lang] | default: site.title.en | default: site.title }}" property="og:title">
<meta name="twitter:title" content="{{ page.title | default: site.title.[lang] | default: site.title.en | default: site.title }}">
<meta content="article" property="og:type">

<meta content="{{ page.description | default: site.description[lang] | default: site.description.en| default: site.description }}" property="og:description">
<meta name="twitter:description" content="{{ page.description | default: site.description[lang] | default: site.description.en | default: site.description }}">
<meta name="description" content="{{ page.description | default: site.description[lang] | default: site.description.en | default: site.description }}">

<meta name="keywords" content="{{ page.keywords | default: site.keywords[lang] |default: site.keywords.en | default: site.keywords }}">

{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

<meta name="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img | default: site.author-img }}">
<meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img | default: site.author-img }}" property="og:image">

{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}

{% if page.categories %}
  {% for category in page.categories%}
    <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}

{% if page.tags %}
  {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#263959">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#263959">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#263959">
