<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign lang = page.lang | default: post.lang | default: site.lang | default: "en" -%}
    <div class="site-title-wrap">
      {%- include header/title.html show_lang = lang -%}
      {%- include header/multilingual.html current_lang = lang -%}
    </div>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- if page_paths -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">{%- include svg/menu-icon.html -%}</span>
        </label>
        <div class="trigger">
          {%- include header/page_list.html list = page_paths show_lang = lang -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
