.post-toc {
  float: right;
  max-width:320px;
  border: 1px dotted #CCCCCC;
  background-color: #EFF5FF;
  margin: 10px;
  padding:10px 5px 0px 5px;
}

.show-trigger, .hide-trigger, toc-contents {
  background-color: #FFFFFF00;
  border: none;
  margin: 0px;
  padding: 0px;
}

.show-trigger{
  display: none;
}

.hide-trigger {
  display: inline-block;
}

.toc-contents {
  display: block;
}


  // .toc-trigger {
  //   display: none;
  // }
  //
  // label[for="show-hide"] {
  //   display: block;
  // }
  //
  // input#show-hide ~ .trigger {
  //   clear: both;
  //   display: block;
  // }
  //
  // input#show-hide:checked ~ .trigger {
  //   display: none;
  // }
