// Background image setting
%center-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

%left-image {
  background-size: auto 100%;
  background-position: center left;
  background-repeat: no-repeat;
}

%flex-row-display {
  display: flex;
  flex-direction: row;
}
