// General Unit
$frame-unit:            100px;
$spacing-unit:          25px;
$padding-unit:          5px;

$content-width:         1024px;
$content-min-width:     320px;

$sidebar-width:         240px;
$title-image-height:    320px;

$full-width:            100%;
$half-width:            50%;


// Media queries
$on-min:                400px;
$on-palm:               640px;
$on-laptop:             1024px;
$on-half-min-palm:      ($on-min + $on-palm) / 2;
$on-half-palm-laptop:   ($on-laptop + $on-palm) / 2;
$on-always:             10000px !default;


// Font-Family
$base-font-family:      "Open Sans",sans-serif, -apple-system,
                        BlinkMacSystemFont, Roboto, Helvetica, Arial, "Segoe UI",
                        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$title-font-family:     Montserrat, zillaslab, Palatino, "Palatino Linotype",
                        $base-font-family;
$label-font-family:     courier, monospace,
                        $base-font-family;
$highlight-font-family: 'PT Serif', serif,
                        $base-font-family;


// Font Size with relative-font-size($ratio), media-font-size($device, $ratio)
$base-font-size:        16px;
$small-font-size:       $base-font-size * 0.85;
$min-font-size:         $base-font-size * 0.75;

$big-title-ratio:       2.5;
$title-ratio:           2.25;
$small-title-ratio:     2;

$big-header-ratio:      1.5;
$header-ratio:          1.25;
$small-header-ratio:    1;

$regular-ratio:         1;
$small-regular-ratio:   0.9;

$meta-ratio:            0.8;
$small-meta-ratio:      0.75;


// Font-others
$base-font-weight:  400;
$base-line-height:  1.5;


// Color
$text-color:        #111;
$background-color:  #fbfbfb;
$body-color:        #515151;
$brand-color:       #2a7ae2;

$white:             #ffffff;
$white-trans:       rgba(255, 255, 255, 0.5);

$grey:              #828282;
$grey-light:        lighten($grey, 40%);
$grey-dark:         darken($grey, 25%);

$blue:              rgb(72, 61, 139);
$blue-trans:        rgba(72, 61, 139, 0.5);
$blue-light:        lighten($blue, 50%);
$blue-dark:         darken($blue, 25%);

$green:             #4CAC9D;
$green-light:        lighten($green, 33%);
$green-dark:         darken($green, 20%);

$label-color:       #dfdfdf;
$label-color-light: #efefef;
$label-color-link:  #00b2ee;

$shadow-color:      rgba(31, 35, 46, 0.25);
$shadow-color-dark: rgba(0, 0, 0, 0.25);
$shadow-color-light:rgba(150, 150, 150, 0.15);

$black:             #000000;

// Others
$table-text-align:  left;
$transform-time:    0.25s;
