/*1. General */
.tag, .category {
  margin: $padding-unit;
  padding: 0 $padding-unit*3;
  text-align: center;
  border-radius: $padding-unit*2;
  background-color: $label-color;
  box-shadow: 0 1px 1px 0 $shadow-color;
  &:hover {
    transform: translate(0px, -1px);
    box-shadow: 0 1px 5px -5px $shadow-color;
  }
  transition: all $transform-time ease;
  a, p {
    font-family: $label-font-family;
    @include relative-font-size($meta-ratio);
    text-decoration: none;
    color: $label-color-link;
  }
  h2 {
    text-align: left;
    font-family: $label-font-family;
    @include relative-font-size($small-header-ratio);
    text-decoration: none;
    color: $label-color-link;
  }
}

/*2. Home */
.post-label {
  @extend %flex-row-display;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.home-catalog {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: $padding-unit;
  background-color: $grey-dark;
  box-shadow: 0 0 2px 0 $shadow-color-light;
}

.home-catalog-title{
  margin: $padding-unit auto;
  padding-bottom: $padding-unit;
  text-align: center;
  h2 {
    margin: 0 auto;
    font-family: $highlight-font-family;
    @include relative-font-size($big-header-ratio);
    font-weight: $base-font-weight*2;
    @include visit-color($grey-light, $grey-light);
    text-transform: uppercase;
  }
  &::after {
    @extend %full-length-line;
    background-color: $grey;
  }
}

.tag-container {
  @extend %flex-row-display;
  flex-wrap: wrap;
  justify-content: center;
  @include relative-width(75%);
  @include media-width($on-half-palm-laptop, 80%);
  @include media-width($on-palm, 85%);
  @include media-width($on-half-min-palm, 90%);
  margin: $padding-unit auto;
}

.category-container {
  @extend %flex-row-display;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: $padding-unit 0;
  .section-list {
    @include relative-width(18%);
    @include media-width($on-half-palm-laptop, 23%);
    @include media-width($on-palm, 31%);
    @include media-width($on-half-min-palm, 48%);
    margin: $padding-unit 1%;
    border-radius: $padding-unit;
    background: $label-color-light;
    .section{
      margin: $padding-unit $padding-unit*2;
      h3 {
        margin: 0 auto;
        font-family: $title-font-family;
        @include relative-font-size($small-header-ratio);
        font-weight: $base-font-weight;
        @include visit-color($blue, $blue);
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .category-list {
      margin: 0 $padding-unit;
      list-style: none;
    }
  }
}

/*3. Categories and Tags */
.gap {
  padding: $spacing-unit 0;
  @include media-query($on-palm) {padding: $spacing-unit*1.25 0;}
  @include media-query($on-min) {padding: $spacing-unit*1.5 0;}
}
