/* 1. General */
.home-banner {
  margin-top: $spacing-unit*0.5;
  padding: $spacing-unit * 2 0 $spacing-unit;
  border-bottom: 1px solid $grey-light;
  @extend %center-image;
  box-shadow: 0 1px 1px 0 $shadow-color-light;
  text-align: center;
}

.home-highlight {
  @extend %flex-row-display;
  @include media-query($on-palm) {
    display: block;
  }
}

/* 2. Banner */
.home-message {
  h2 {
    margin: 0;
    @include relative-font-size($title-ratio);
    @include media-font-size($on-palm, $small-title-ratio);
    color: $grey-dark;
  }
  p, a {
    display: inline-block;
    margin: 0;
    padding: $padding-unit;
    @include background-fallback($blue-trans, $blue);
    @include relative-font-size($regular-ratio);
    @include media-font-size($on-palm, $small-regular-ratio);
    color: $white;
    text-decoration: none;
 }
}

/* 2. Highlight - Post List */
.post-list-highlight {
  flex: 1;
  @extend %flex-row-display;
  flex-wrap: wrap;
  align-items: stretch;
  margin: $padding-unit;
  margin-left: $padding-unit*2;
}

.post-highlight {
  @extend %flex-row-display;
  @include media-query($on-palm) {flex-direction: column;}
  align-items: stretch;
  overflow: hidden;
  @include relative-width(100%);
  @include media-width($on-palm, 48%);
  @include media-width($on-min, 98%);
  max-width: 100%;
  min-height: $frame-unit*1.5;
  margin: $padding-unit 0;
  @include media-query($on-palm) {margin: $padding-unit 1%;}
  border-radius: $padding-unit;
  background-color: $white;
  box-shadow: 0 1px 1px 0 $shadow-color;
  &:hover {
    transform: translate(0px, -1px);
    box-shadow: 0 5px 10px -5px $shadow-color;
  }
  transition: all $transform-time ease;
}

.post-highlight-image {
  @include relative-width(40%);
  @include media-width($on-palm, 100%);
  max-width: 100%;
  min-height: $frame-unit*1.5;
  @extend %center-image;
}

.post-highlight-content {
  @include relative-width(60%);
  @include media-width($on-palm, 100%);
  padding: $padding-unit*2 0;
  .post-highlight-title {
    @extend %flex-row-display;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 $padding-unit*2;
    font-weight: $base-font-weight;
    a {
      font-family: $title-font-family;
      @include relative-font-size($header-ratio);
      @include media-font-size($on-palm, $small-header-ratio);
      font-weight: $base-font-weight;
      @include visit-color($grey-dark, $grey-dark);
      text-decoration: none;
    }
  }
  .post-highlight-meta {
    margin: 0 $padding-unit*2;
    @include relative-font-size($meta-ratio);
    @include media-font-size($on-palm, $small-meta-ratio);
    @include visit-color($grey, $grey);
  }
  p {
    margin: 0 $padding-unit*2;
    @include relative-font-size($meta-ratio);
    @include media-font-size($on-palm, $small-meta-ratio);
    @include visit-color($grey, $grey);
  }
}

/* 3. Highlight - Sidebar */
.home-sidebar {
  flex:0 0 24%;
  max-width: $sidebar-width;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 $padding-unit;
  margin-right: $padding-unit*2;
  padding: $padding-unit*2;
  border: 0;
  border-left: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
  background-color: $white;
  @include media-query($on-palm) {
    max-width: none;
    margin: 0;
    border: 0;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;
  }
}

.sidebar-about {
  margin: 0 0 $spacing-unit;
  text-align: center;
  .sidebar-author-image {
    overflow: hidden;
    width: $frame-unit;
    height: $frame-unit;
    margin: 0 auto $padding-unit*2;
    border-radius: 100%;
    background-color: $blue-light;
  }
  img {
    width: $frame-unit;
    height: $frame-unit;
    border-radius: 50%;
    &:hover {
      transform: scale3d(0.9,0.9,1);
    }
    transition: transform $transform-time;
  }
  .sidebar-author-name {
    position: relative;
    margin: 0 0 $padding-unit*2;
    padding-bottom: $padding-unit*2;
    font-family: $highlight-font-family;
    @include relative-font-size($big-header-ratio);
    font-weight: $base-font-weight*2;
    @include visit-color($grey-dark, $grey-dark);
    text-transform: uppercase;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      display: block;
      width: $padding-unit;
      height: $padding-unit;
      border-radius: 50%;
      background-color: $grey-dark;
    }
  }
  p {
    font-size: $base-font-size;
    margin: 0 0 $padding-unit*2;
  }
}

.sidebar-contact {
  .sidebar-contact-title {
    position: relative;
    margin: 0 0 $padding-unit;
    @include relative-font-size($meta-ratio);
    font-weight: $base-font-weight;
    @include visit-color($grey-dark, $grey-dark);
    text-align: center;
    text-transform: uppercase;
    &::before {
      @include horizontal-line(calc(50% - 48px), 0, 0);
      position: absolute;
      top: 50%;
      left: 0;
    }
    &::after {
      @include horizontal-line(calc(50% - 48px), 0, 0);
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 $padding-unit;
      a {
        display: block;
        padding: $padding-unit;
        font-size: $base-font-size;
        @include hover-color-scale($grey, $grey-dark, 1.25);
        transition: all $transform-time cubic-bezier(0.13, 0.43, 0.54, 1.82);
      }
    }
  }
}

/*4.Normal Post List*/

.post-list-title{
  margin: $padding-unit auto;
  padding-bottom: $padding-unit;
  h2 {
    margin: 0 auto;
    font-family: $highlight-font-family;
    @include relative-font-size($header-ratio);
    font-weight: $base-font-weight*1.25;
    @include visit-color($grey-dark, $grey-dark);
    text-transform: uppercase;
  }
  &::after {
    @include horizontal-line(100%, 0, 0);
    transform: translateY($padding-unit);
  }
}

.post-list {
  @include relative-width(80%);
  @include media-width($on-palm, 85%);
  @include media-width($on-min, 90%);
  margin-left: $spacing-unit;
  list-style: none;
  li {
    margin-bottom: $spacing-unit;
  }
  .post-title {
    margin: 0 $padding-unit*2;
    font-weight: $base-font-weight;
    a {
      font-family: $title-font-family;
      @include relative-font-size($header-ratio);
      font-weight: $base-font-weight;
      @include visit-color($grey-dark, $grey-dark);
      text-decoration: none;
    }
  }
  .post-meta {
    margin: 0 $padding-unit*2;
    @include relative-font-size($small-meta-ratio);
    @include visit-color($grey, $grey);
  }
  p {
    margin: 0 $padding-unit*2;
    @include relative-font-size($meta-ratio);
    @include visit-color($grey, $grey);
  }
}
