.page-header {
   margin-bottom: $spacing-unit;
 }

.page-content {
  padding: $spacing-unit*1.5 0;
  @include media-query($on-palm) {padding: $spacing-unit*2 0 $spacing-unit 0;}
  @include media-query($on-min) {padding: $spacing-unit*2.5 0 $spacing-unit 0;}
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}
