.page-header {
   margin-bottom: $spacing-unit;
 }

.page-content {
  padding: $spacing-unit*1.5 0;
  @include media-query($on-palm) {
    padding: $spacing-unit*2.5 0 $spacing-unit 0;
  }
  @include media-query($on-min) {
    padding: $spacing-unit*3.5 0 $spacing-unit 0;
  }
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
  padding: $padding-unit;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}
