.post-header {
  margin: $spacing-unit*2 0 $spacing-unit*0.5;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

//*** Post TOC style setting ***///
.post-toc {
  float: right;
  max-width:320px;
  border: 1px dotted #CCCCCC;
  background-color: #EFF5FF;
  margin: 10px;
  padding:10px 5px 0px 5px;
}

.show-trigger, .hide-trigger, toc-contents {
  background-color: #FFFFFF00;
  border: none;
  margin: 0px;
  padding: 0px;
}

.show-trigger{
  display: none;
}

.hide-trigger {
  display: inline-block;
}

.toc-contents {
  display: block;
}
