/* 1. Post style */
.post-title-image{
  display: flex;
  align-items: center;
  text-align: center;
  max-height: $title-image-height;
  overflow: hidden;
  img {
    margin: 0;
    width: 100%;
  }
}

.post-title-gap{
  padding: $spacing-unit/2 auto;
}

.post-header {
  width: 90%;
  margin: $spacing-unit auto;
  text-align: center;
  .post-title {
    margin: $padding-unit auto;
    @include relative-font-size($title-ratio);
    @include media-font-size($on-palm, $small-title-ratio);
    @include media-font-size($on-min, $big-header-ratio);
  }
  .post-label {
    margin: $padding-unit auto 0;
    justify-content: center;
    p {margin: 0 $padding-unit*2;}
  }
  .post-meta {
    color: $grey;
  }
}

.post-content {
  counter-reset: level2;
  margin-bottom: $spacing-unit;
  a {
    @include relative-font-size($regular-ratio);
    @include media-font-size($on-half-min-palm, $small-regular-ratio);
  }
  .highlight {
    code, pre {
      border: none;
      border-radius: $padding-unit/2;
      font-family: $label-font-family;
      @include relative-font-size($small-regular-ratio);
      @include media-font-size($on-half-min-palm, $meta-ratio);
      letter-spacing: -0.5px;
      color: $grey-light;
      background: $grey-dark;
    }
  }
  ul, li, strong, i, p {
    @include relative-font-size($regular-ratio);
    @include media-font-size($on-half-min-palm, $small-regular-ratio);
    color: $grey-dark;
    font-weight: $base-font-weight/2;
  }
  strong {
    font-weight: $base-font-weight * 1.5;
  }
  h1, h2 {
    max-width: 60%;
    margin: $spacing-unit 0;
    padding-left: $spacing-unit/2;
    @include relative-font-size($big-header-ratio);
    @include media-font-size($on-half-min-palm, $header-ratio);
  }
  h3, h4, h5, h6 {
    margin: $spacing-unit/2 0;
    padding-left: $spacing-unit/2;
    @include relative-font-size($header-ratio);
    @include media-font-size($on-half-min-palm, $small-header-ratio);
  }
}

#ordered-heading-post {
  h1 {
    border-left: $padding-unit*2 $grey-dark solid;
    font-weight: $base-font-weight * 1.5;
    counter-reset: level2;
  }
  h2 {
    border-left: 2px $grey-dark solid;
    font-weight: $base-font-weight * 1.25;
    counter-reset: level3;
    &::before {
      counter-increment: level2;
      content: counter(level2, upper-roman) ".  ";
    }
  }
  h3 {
    counter-reset: level4;
    &::before {
      counter-increment: level3;
      content: counter(level2, upper-roman) "-" counter(level3) ".  ";
    }
  }
  h4 {
    counter-reset: level5;
    &::before {
      counter-increment: level4;
      content: counter(level2, upper-roman) "-" counter(level3) "." counter(level4) ".  ";
    }
  }
  h5 {
    counter-reset: level6;
    &::before {
      counter-increment: level5;
      content: counter(level2, upper-roman) "-" counter(level3) "." counter(level4) "." counter(level5) ".  ";
    }
  }
  h6:before {
    counter-increment: level6;
    content: counter(level2, upper-roman) "-" counter(level3) "." counter(level4) "." counter(level5) "." counter(level6) ".  ";
  }
}

#also-enjoy, #have-fun {
    max-width: 60%;
    margin: $spacing-unit 0;
    padding-left: $spacing-unit/2;
    border-left: $padding-unit*2 $grey-dark solid;
    font-weight: $base-font-weight * 1.5;
    @include relative-font-size($big-header-ratio);
    @include media-font-size($on-half-min-palm, $header-ratio);
}

/* 2. Post TOC */
.post-toc {
  float: right;
  max-width: $sidebar-width;
  margin: $padding-unit*2;
  @include media-query($on-min) {
    float: none;
    width: 90%;
    max-width: none;
    margin: $padding-unit*2 auto;
  }
  padding:$padding-unit*2 $padding-unit*2 0 0;
  border: 1px solid $grey-light;
  border-radius: $padding-unit/2;
  background-color: $grey-light;
  .toc-title {
    margin: 0;
    margin-left: $padding-unit * 2;
    text-align: center;
    font-weight: bold;
    @include relative-font-size($regular-ratio);
    @include media-font-size($on-half-min-palm, $small-regular-ratio);
  }
  a {
    font-family: $base-font-family;
    @include relative-font-size($meta-ratio);
    @include media-font-size($on-half-min-palm, $small-meta-ratio);
  }
  button, .button {
    float: right;
    padding: $padding-unit;
    padding-right: 0;
    @include relative-font-size($meta-ratio);
    @include media-font-size($on-half-min-palm, $small-meta-ratio);
  }
  .show-trigger, .hide-trigger, toc-contents {
    background-color: #FFFFFF00;
    border: none;
    margin: 0px;
    padding: 0px;
  }
  .show-trigger{
    display: none;
  }
  .hide-trigger {
    display: inline-block;
  }
  .toc-contents {
    display: block;
    ol {
      counter-reset: section;
      list-style-type: none;
      margin-left: $spacing-unit / 2;
    }
    li:before {
      @include relative-font-size($small-meta-ratio);
      counter-increment: section;
      content: counters(section, ".") ".  ";
    }
  }
}

/* 3. Latex Image Code */
.latex-image {
  margin: $padding-unit 0;
  @extend %flex-row-display;
  @include media-query($on-palm) {flex-direction: column;}
  img {
    align-self: flex-start;
    padding: $padding-unit;
  }
}

.latex-image-code {
  align-self: flex-end;
  @include media-query($on-palm) {align-self: flex-start;}
  p, a, strong {
    font-family: $base-font-family;
    color: $grey;
    @include relative-font-size($meta-ratio);
    @include media-font-size($on-half-min-palm, $small-meta-ratio);
  }
  button, .button {
    background-color: #FFFFFF00;
    border: none;
    margin: 0px;
    padding: 0px;
    @include relative-font-size($meta-ratio);
    @include media-font-size($on-half-min-palm, $small-meta-ratio);
  }
  .show-trigger {display: inline-block;}
  .hide-trigger {display: none;}
  .code-contents {display: none;}
}

/* 4. Post Progress */
.post-progress {
  min-height: 5 * $spacing-unit;
  padding: $spacing-unit;
  padding-left: 6 * $spacing-unit;
  @extend %left-image;
  border: $padding-unit solid $black;
  background-color: $black;
  text-align: left;
}

.post-progress-info {
  margin: 0;
  padding: $padding-unit;
  @include relative-font-size($big-header-ratio);
  @include media-font-size($on-palm, $header-ratio);
  @include media-font-size($on-min, $small-header-ratio);
  color: $grey-light;
  text-decoration: none;
}
