/* 1. General */
.site-header {
  @if $header_fix == true {
    position: fixed;
    top: 0px;
    z-index: 1000;
  } // end of @if $header_fix is true
  width: 100%;
  padding: $padding-unit 0;
  @include media-query($on-half-min-palm) {padding: 0;}
  border-top: $padding-unit solid $grey-dark;
  border-bottom: 1px solid $grey-light;
  background: $white;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: top;
  .wrapper{
    @extend %flex-row-display;
    justify-content: flex-start;
    align-items: flex-end;
  } // end of .wrapper
  .site-heading {
    flex: auto;
    min-width: $content-min-width - $spacing-unit * 2;
    margin: $padding-unit auto 0 auto;
    @include media-query($on-half-palm-laptop) {margin: 0 auto;}
    padding-right: $spacing-unit * 2;
    vertical-align: bottom;
  } // end of .site-heading
  .site-nav {
    flex: none;
  } // end of .site-nav
} //.end of .site-header

/* 2. Heading - Always showed: title, contacts, multilingual-list */
.site-title {
  display: inline;
  margin: 0;
  font-family: $title-font-family;
  @include relative-font-size($header-ratio);
  @include media-font-size($on-half-min-palm, $small-header-ratio);
  font-weight: $base-font-weight;
  line-height: $base-line-height * $base-font-size * 1.25;
  @include visit-color($grey-dark, $grey-dark);
} // end of .site-title

.site-info {
  display: inline-block;
  .site-contact {
    display: inline;
    margin: 0;
    a {
      display: inline-block;
      padding: 0 $padding-unit * 2;
      @include relative-font-size($regular-ratio);
      @include media-font-size($on-half-min-palm, $small-regular-ratio);
      @include hover-color-scale($grey, $grey-dark, 1.25);
      transition: all $transform-time cubic-bezier(0.13, 0.43, 0.54, 1.82);
    } // end of a inside .site-contact
  } // end of .site-contact
  .site-meta {
    display: inline-block;
    margin: 0;
    font-family: $title-font-family;
    white-space: nowrap;
    @include relative-font-size($meta-ratio);
    @include media-font-size($on-half-min-palm, $small-meta-ratio);
    @include visit-color($grey, $grey);
  } // end of .site-meta
} // end of .site-info

/* 3. Navigation - showed on media queires */
.site-nav {
  .nav-trigger {
    display: none;
  } // end of .nav-trigger, a input-checkbox
  .menu-icon {
    display: none;
  } // end of .menu-icon
  @include media-query($on-palm) {
    position: absolute;
    top: $padding-unit;
    right: $spacing-unit;
    border: 1px solid $grey-light;
    border-radius: $padding-unit/2;
    background-color: $background-color;
    text-align: right;
    label[for="nav-trigger"] {
      display: block;
      float: right;
      z-index: 2;
      width: $spacing-unit;
      height: $spacing-unit;
      cursor: pointer;
    } // end of label for input-checkbox with id of .nav-trigger
    .menu-icon {
      display: block;
      float: right;
      width: $spacing-unit;
      height: $spacing-unit - $padding-unit;
      padding-top: $padding-unit;
      line-height: 0;
      text-align: center;
      svg {
        fill: $grey;
      }
    } // end of .menu-icon
    input ~ .trigger {
      clear: both;
      display: none;
    } // end of input-checkbox with unchecked status, affecting .trigger
    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    } // end of input-checkbox with checked status, affecting .trigger
  } // end of media query $on-palm or smaller
} // end of .site-nav

.page-link {
  font-family: $title-font-family;
  white-space: nowrap;
  @include relative-font-size($meta-ratio);
  @include visit-color($grey-dark, $grey-dark);
  &:not(:last-child) {
    margin-right: 20px;
  }
  @include media-query($on-palm) {
    display: block;
    padding: 5px 10px;
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  } // end of media query $on-palm or smaller
} // end of .page-link inside .trigger
