{%- if site.social-twitter -%}
  <div class="site-contact"><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
{%- endif -%}
{%- if site.social-facebook -%}
  <div class="site-contact"><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
{%- endif -%}
{%- if site.social-github -%}
  <div class="site-contact"><a href="http://github.com/{{ site.social-github }}" target="_blank"><i class="fa fa-github"></i></a></div>
{%- endif -%}
{%- if site.social-linkedin -%}
  <div class="site-contact"><a href="https://in.linkedin.com/in/{{ site.social-linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></div>
{%- endif -%}
{%- if site.social-email -%}
  <div class="site-contact"><a href="mailto:{{ site.social-email }}"><i class="fa fa-envelope-o"></i></a></div>
{%- endif -%}
