{%- assign show_lang = include.lang | default: "en" -%}
{%- assign show_width = include.width | default: "auto" -%}
{%- assign show_txt = include.txt | default: "image" -%}
{%- assign id = include.img | remove: "." | escape | strip | strip_newlines -%}
{%- assign show_id = id | prepend: "show-trigger-" -%}
{%- assign hide_id = id | prepend: "hide-trigger-" -%}
{%- assign code_id = id | prepend: "code-contents-" -%}
<div class="latex-image">
  <img src="{{ include.img | prepend: site.post-image-url | prepend: site.baseurl | absolute_url }}" alt="{{ show_txt }}" width="{{ show_width }}">
  <div class="latex-image-code">
    <blockquote>
      <p>This is an image created with <strong>LaTeX</strong> using
        <a href="https://www.overleaf.com"><strong>Overleaf</strong></a>.<br>
        Check for full LaTeX code snippet:
        <button class="show-trigger" id="{{ show_id }}" onclick="code_trigger('{{ show_id }}', '{{ hide_id }}', '{{ code_id }}')"> <a class="button"><strong>Show</strong></a></button>
        <button class="hide-trigger" id="{{ hide_id }}" onclick="code_trigger('{{ show_id }}', '{{ hide_id }}', '{{ code_id }}')"> <a class="button"><strong>Hide</strong></a></button>
      </p>
    </blockquote>
    <div class="code-contents" id="{{ code_id }}">
      {% highlight TeX %}
        {{ include.content }}
      {% endhighlight %}
    </div>
  </div>
</div>
