---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  {{ content }}
  <div class="post-content" id="catalog-container">
    {{ content }}
    {%- assign lang = page.lang | default: post.lang | default: site.lang | default: "en" -%}
    {%- if page.ref == "categories" -%}
      {%- assign my_cat = nil | split: "," -%}
      {%- assign my_txt = site.weighted-txt | append: site.placeholder -%}
      {%- assign grouped_posts = site.posts | where: "lang", lang | group_by_exp: "item", "item.categories | join: site.split-txt " -%}
      {%- for group in grouped_posts -%}
        {%- assign temp_cat = group.name | replace: "|", site.split-txt | replace: ",", site.split-txt | replace: "/", site.split-txt | split: site.split-txt | reverse -%}
        {%- assign new_cat = nil | split: "," -%}
        {%- assign push_cnt = 0 -%}
        {%- for sub_cat in temp_cat limit: site.cat-depth -%}
          {%- assign sub_cat_txt = sub_cat | strip -%}
          {%- if sub_cat_txt == "" -%}
            {%- assign push_cnt = push_cnt | plus: 1 -%}
          {%- else -%}
            {%- assign new_cat = new_cat | push: sub_cat_txt -%}
          {%- endif -%}
          {%- if forloop.last -%}
            {%- assign push_cnt = push_cnt | plus: site.cat-depth | minus: forloop.length -%}
            {%- for i in (1..push_cnt) -%}{%- assign new_cat = new_cat | push: my_txt -%}{%- endfor -%}
          {%- endif -%}
        {%- endfor -%}
        {%- assign new_cat = new_cat | reverse | join: site.split-txt | append: site.split-txt2 | append: group.name -%}
        {%- assign my_cat = my_cat | push: new_cat -%}
      {%- endfor -%}
      {%- assign my_cat = my_cat | uniq | sort -%}
      {%- for sub_cat in my_cat -%}
        {%- assign cur_cat = sub_cat | split: site.split-txt2 | first | remove: site.weighted-txt | split: site.split-txt -%}
        {%- assign cat_pointer = sub_cat | split: site.split-txt2 | last -%}
        {%- if site.cat-depth > 2 -%}
          {%- assign cat_cnt = site.cat-depth | minus: 2 -%}
          {%- for cat_name in cur_cat offset:2 limit:cat_cnt -%}
            {%-if forloop.first -%}
              {%- assign my_txt = cat_name -%}
            {%- else -%}
              {%- assign my_txt = my_txt | append: " - " | append: cat_name -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        {%- if cur_cat[0] != last_division -%}
          {%- if forloop.first != true -%}</ul>{%- endif -%}
          <h2 class="division-gap" id="{{ cur_cat[0] | append: "-" | append: cur_cat[1] | remove: " " }}">{{ cur_cat[0] }}</h2>
          <h3 class="section-gap" id="{{ cur_cat[0] | append: "-" | append: cur_cat[1] | append: "-" | append: my_txt | remove: " " }}">{{ cur_cat[1] | prepend: "@" }}</h3>
          {%- if site.cat-depth > 2 -%}<div class="category"><h4>{{ my_txt | prepend: "@" }}</h4></div>{%- endif -%}
          <ul class="post-list">
        {%- elsif cur_cat[1] != last_section -%}
          </ul>
          <h3 class="division-gap"id="{{ cur_cat[0] | append: "-" | append: cur_cat[1] | remove: " " }}">&nbsp;</h3>
          <h3 class="section-gap" id="{{ cur_cat[0] | append: "-" | append: cur_cat[1] | append: "-" | append: my_txt | remove: " " }}">{{ cur_cat[1] | prepend: "@" }}</h3>
          {%- if site.cat-depth > 2 -%}<div class="category"><h4>{{ my_txt | prepend: "@" }}</h4></div>{%- endif -%}
          <ul class="post-list">
        {%- elsif site.cat-depth > 2 -%}
          {%- if my_txt != last_category -%}
            </ul>
            <h3 class="section-gap" id="{{ cur_cat[0] | append: "-" | append: cur_cat[1] | append: "-" | append: my_txt | remove: " " }}">&nbsp;</h3>
            <div class="category"><h4>{{ my_txt | prepend: "@" }}</h4></div>
            <ul class="post-list">
          {%- endif -%}
        {%- endif -%}
        {%- assign group = grouped_posts | where: "name", cat_pointer | first -%}
        {%- for cur_post in group.items -%}
          {%- include ref/post-normal.html show_post = cur_post show_lang = lang -%}
        {%- endfor -%}
        {%- assign last_division = cur_cat[0] -%}
        {%- assign last_section = cur_cat[1] -%}
        {%- if site.cat-depth > 2 -%}{%- assign last_category = my_txt -%}{%- endif -%}
      {%- endfor -%}</ul>
    {%- else -%}
      {%- for tag in site.tags -%}
        {%- assign posts = tag[1] | where:"lang", lang  -%}
        {%- if posts.size > 0 -%}
          <div class="tag-gap" id="{{ tag[0] }}">&nbsp;</div>
          <div class="tag"><h2>{{ tag[0] | prepend: "#" }}</h2></div>
          <ul class="post-list">
            {%- for post in posts -%}
              {%- include ref/post-normal.html show_post = post show_lang = lang -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      {%- endfor -%}
      <div class="tag-gap">&nbsp;</div>
    {%- endif -%}
  </div>
  {%- include ref/quotes.html -%}
  <a class="u-url" href="{{ page.url | prepend: site.baseurl }}" hidden></a>
</article>
