---
layout: default
---
<div class="home">
  <section class="home-banner" style="background-image: url({{ site.image-url }}{{ site.home-banner-image }})">
      <div class="home-message">
        {{ content }}
      </div>
  </section>

  {%- assign i = 0 -%}
  {%- assign HighLightCnt = site.highlight-post-max -%}
  {%- assign lang = page.lang | default: post.lang | default: site.lang | default: "en" -%}
  {%- assign posts = site.posts | where:"lang", lang -%}
  <div class="home-highlight">
    {%- if site.posts.size > 0 -%}
      <div class="post-list-highlight">
        {%- for post in posts -%}
          {%- assign i = i | plus:1 -%}
          {%- if i <= HighLightCnt -%}
            {%- include home/post-highlight.html show_post = post show_lang = lang idx = i -%}
          {%- else -%}
            {%- include home/post-normal.html show_post = post show_lang = lang idx = i -%}
          {%- endif -%}
          {%- if i == HighLightCnt -%}
            </div>
            {%- include home/sidebar.html show_lang = lang -%}</div>
            {%- include home/catalogue.html show_lang = lang -%}
            <div class="post-list-normal">
            <ul class="post-list">
          {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
  {%- if i < HighLightCnt -%}
    </div>
    {%- include home/sidebar.html show_lang = lang -%}</div>
    {%- include home/catalogue.html show_lang = lang -%}
  {%- else -%}
    </ul></div>
  {%- endif -%}
</div>
