---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>
  <div class="post-content e-content" itemprop="articleBody">
    {%- assign post-toc-show = page.post-toc | default: true -%}
    {%- if page.post-toc == false -%}{%- assign post-toc-show = false -%}{%- endif -%}
    {% if post-toc-show %}
      <div class="post-toc" id="post-toc">
        <p style="text-align:center; font-weight:bold; margin: 0;">Contents
        <button class="show-trigger" id="show-trigger" onclick="toc_trigger()"><a>Show</a></button>
        <button class="hide-trigger" id="hide-trigger" onclick="toc_trigger()"><a>Hide</a></button>
        <div class="toc-contents" id="toc-contents">
          {% include toc.html html=content h_max=4%}
        </div>
      </div>
    {% endif %}
    {{ content }}
    {% include quotes.html %}
  </div>
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
