<div class="home-catalog">
  <header class="home-catalog-title">
    <h2>{%- include ref/abbr.html show_lang = include.show_lang show_txt = "catalog" -%}</h2>
  </header>
  {%- if include.show_lang != "en" -%}{%- assign langlabel = "-" | append: include.show_lang -%}{%- endif -%}
  <div class="tag-container">
    {%- for tag in site.tags -%}
      {%- assign filelink = langlabel | prepend: "catalog/tags" | prepend: site.baseurl | append: ".html#" -%}
      {%- assign posts = tag[1] | where: "lang", include.show_lang -%}
      {%- if posts.size == 0 -%}{%- continue -%}{%- endif -%}
      <div class="tag"><a href="{{ filelink | append: tag[0] }}">{{ tag[0] | prepend: "#" }}</a></div>
    {%- endfor -%}
  </div>
  <div class="category-container">
    {%- assign my_cat = nil | split: "," -%}
    {%- for category in site.categories -%}
      {%- assign grouped_posts = category[1] | where: "lang", include.show_lang | group_by_exp: "item", "item.categories | join: site.split_txt | prepend: site.split_txt | prepend: item.division" -%}
      {%- if grouped_posts.size == 0 -%}{%- continue -%}{%- endif -%}
      {%- for group in grouped_posts -%}
        {%- assign first_post = group.items | first -%}
        {%- if first_post.categories[1] -%}
          {%- if first_post.categories[1] != category[0] -%}{%- continue -%}{%- endif -%}
          {%- assign cur_cat = first_post.categories[0] | append: site.split-txt | append: first_post.categories[1] -%}
        {%- elsif category[0] contains "," or category[0] contains "/" -%}
          {%- if category[0] contains "," -%}{%- assign split_txt = "," -%}
          {%- else -%}{%- assign split_txt = "/" -%}{%- endif -%}
          {%- assign temp_cat = category[0] | split: split_txt -%}
          {%- assign temp_txt = temp_cat[1] | strip -%}
          {%- assign cur_cat = temp_cat[0] | strip | append: site.split-txt | append: temp_txt -%}
        {%- else -%}
          {%- assign cur_cat = "Others" | prepend: site.weighted-txt | append: site.split-txt | append: category[0] -%}
        {%- endif -%}
        {%- if first_post.division -%}
          {%- assign cur_cat = cur_cat | prepend: site.split-txt2 | prepend: first_post.division -%}
        {%- else -%}
          {%- assign cur_cat = cur_cat | prepend: site.weighted-txt -%}
        {%- endif -%}
        {%- assign my_cat = my_cat | push: cur_cat -%}
      {%- endfor -%}
    {%- endfor -%}
    {%- assign sorted_cat = my_cat | uniq | sort -%}
    {%- assign filelink = langlabel | prepend: "catalog/categories" | prepend: site.baseurl | append: ".html#" -%}
    {%- for category in sorted_cat -%}
      {%- assign cur_cat = category | remove: site.weighted-txt  | replace_first: site.split-txt2, " - " | split: site.split-txt -%}
      {%- if cur_cat[0] != last_cat -%}
        {%- if last_cat != nil -%}</ul></div>{%- endif -%}
        <div class="section-list">
          <div class="section">
            <h3>{{ cur_cat[0] }}</h3>
          </div>
          <ul class="category-list">
      {%- endif -%}
      <li class="category"><a href="{{ filelink | append: cur_cat[0] | append: "-" | append: cur_cat[1] | remove: " " }}">{{ cur_cat[1] | prepend: "@" }}</a></li>
      {%- assign last_cat = cur_cat[0] -%}
    {%- endfor -%}</ul></div>
  </div>
</div>
